
#fullname {
    background-color: blue;
    border-width: 0px 0px 25px 0px;
    border-color: pink yellowgreen purple fuchsia;
    border-radius: 25px;
}
#IK{
    width: 70%;
    height: 70%;
    border: 1px aqua;
    margin: 0 auto;
    text-align: center;  
}
#border{
    Max width: 200px;
    padding: 25px;
    border: 20px;
    border-color: blue;
    margin: auto;
    text-align: center;
}
#Name{
    background-color: aquamarine;
    border-color: pink
    text-align: center;
}
#Email{
    background-color: aquamarine;
    border-color: aquamarine;
    text-align: center;
}
#AJmoney{
    background-color: blueviolet;
    border-width: 0px 15px 0px 15px;
    border-color: brown;
    border-radius: 25px;
}
#password{
    background-color: cyan;
    border-width: 0px 15px 0px 15px;
    border-color: aquamarine;
    border-radius: 25px;
}
#DOB{
    background-color: bisque;
    border-width: 0px 15px 0px 15px;
    border-color:beige;
    border-radius: 25px;
}
#Nationality{
    background-color: paleturquoise;
    border-width: 0px 15px 0px 15px;
    border-color: azure;
    border-radius: 25px;
}
#why{
background-color: coral;
    border-width: 0px 15px 0px 15px;
    border-color: crimson;
    border-radius: 25px;
}
#date{
background-color: cyan;
border-width: 0px 15px 0px 15px;
border-color: darkblue;
border-radius: 25px;
}
#how{
    background-color: darkorchid;
    border-width: 0px 15px 0px 15px;
    border-color: darkorchid;
    border-radius: 25px;
}
#file{
    background-color: deepskyblue;
    border-width: 0px 15px 0px 15px;
    border-color: dodgerblue;
    border-radius: 25px;
}
button{
    background-color: aliceblue;
    color: aquamarine;
    border-color: aquamarine;
}
#p{
    display: inline;
}
#width{
    width: ;
}